* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    width: 500px;
    height: 500px;
}

.square {
    display: flex;
    flex: 1;
    border: 1px solid black;
}